nav {
    display:block;
    width:100%;
    padding: 0px 20px;
}
nav ul {
    padding: 10px 0px;
    margin: 0;
    list-style: none;
    position: relative;
}

nav ul li {
    display: block;
    width:100%;
}

nav a {

    display: block;
    padding: 0 10px;
    color: #FFF;
    font-size: 1rem;
    line-height: 45px;
    text-decoration: none;
}



nav ul ul {
    display: none;
    position:unset;
    background-color: white;
    border-radius: 5px;
    width:100%;
}


nav ul li:hover>ul {
    display: inherit;
}


nav ul ul li {
    width: 100%;
    float: none;
    display: list-item;
    position: relative;
}
nav ul ul li a, nav ul ul ul li a  {
 color:black;
}

nav ul ul li a:hover,nav ul ul ul li a:hover {
    background-color: #dee2e6;
}


nav ul ul ul li {
    position: relative;
    top: -60px;
    left: 170px;
}


li>a:after {
    content: ' ▼';
    font-size: 11px;
    margin-left: 5px;
}

li>a:only-child:after {
    content: '';
}